.container{
    margin-top:90px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;   
}

.headerComplete{
    position: relative;
    background: transparent;   /* remove box */
    padding: 20px 25px;
    margin: 0 auto 25px auto;
    max-width: 600px;
}

.headerComplete::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 6px;   /* small line */
    background: linear-gradient(to right, #4f46e5, #7c3aed);
    border-radius: 4px;
   margin-left: 25%;
    
}