.container{
    margin-top:90px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;   
}

.headerNew{
    position: relative;
    background: transparent;   /* remove box */
    padding: 20px 25px;
    margin: 0 auto 25px auto;
    max-width: 600px;
}

.headerNew::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 6px;   /* small line */
    background: linear-gradient(to right,#E89951, #d7d397);
    border-radius: 4px;
   margin-left: 25%;
    
}

.form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.formName{
    font-weight:500;
    color: black;
}

.custom-input {
  border-radius: 8px !important;
  padding: 10px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

.custom-input:focus {
  border-color: #F0E76F;
  box-shadow: #F0E76F;
}

.custom-button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

.buttonNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: 0 auto 20px auto;
}

.backButton,
.recentButton {
  width: 65px;
  height: 50px;

  background: linear-gradient(135deg, #E89951, #f0b06d);
  border: none;
  border-radius: 25px;

  color: white;
  font-weight: 600;
  font-size: 14px;

  box-shadow: 0 4px 12px rgba(232, 153, 81, 0.3);

  transition: all 0.3s ease;
}


.backButton:hover,
.recentButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(232, 153, 81, 0.4);
}




.buttonNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: 0 auto 20px auto;
}


@media (max-width: 768px) {
  .buttonNew {
    padding: 0 15px;
  }

  .backButton,
  .recentButton {
    width: 60px;
    height: 45px;
    font-size: 13px;
  }
}